/nbproject
/nbproject/*
/nbproject/private/
composer.lock
composer.phar
vendor
vendor/*
report
tests/report
tests/report/*
examples/config.php
examples/angular
examples/angular/*
examples/annotations.php
examples/collections.php
examples/tests/*
node_modules
node_modules/
node_modules/*
package-lock.json
examples/template/copycontactmethodlanguages.php
examples/template/copytemplate.php
examples/template/copytemplatetargetsources.php
examples/template/copytextitems.php
examples/sandbox.php
build/logs/
.phpunit.result.cache
.vagrant
ubuntu-xenial-16.04-cloudimg-console.log
html
.vscode
.php-cs-fixer.cache